node_modules/
dist/
build/
frontend/
package-lock.json
yarn.lock
pnpm-lock.yaml
*.log
*.local
.env
.env.*
*.svg
*.ico
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.woff
*.woff2
*.ttf
*.eot
config/
database/
public/
types/